/* GENERAL SETUP */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* NAVIGATION */
.main-nav {
    padding: 20px;
    width: 1360px;
    margin: 40px auto;
}

.main-nav ul {
    display: grid;
    padding-left: 0px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    font-family: Montserrat;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}

.logo {
    font-size: 32px;
    list-style: none;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    list-style: none;
    text-decoration: none;
}

.about {
    font-size: 26px;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
}

.about a:hover {
    text-decoration: underline;
    padding: 20px;
    cursor: pointer;
}

.contact {
    font-size: 26px;
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 5;
}

/* FILTER GALLERY */
.section-gallery {
    padding: 20px;
    width: 1360px;
    margin: 40px auto;
}

.section-gallery ul {
    display: flex;
    margin-bottom: 10px;
    padding-left: 0px;
}

.section-gallery ul li {
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.section-gallery ul li.active {
    background: #000000;
    color: white;
}

.gallery-work {
    display: flex;
    flex-wrap: wrap;
}

.gallery-work .itemBox {
    position: relative;
    width: 600px;
    height: 300px;
    margin: 5px;
}

.gallery-work .itemBox img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* IMAGE OVERLAY */
.itemBox .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0000009f;
}

.itemBox:hover .overlay {
    opacity: 1;
}

.itemBox .overlay .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Montserrat;
    text-transform: uppercase;
}

.itemBox .overlay .s-text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Montserrat;
    margin-top: 70px;
}


.itemBox .overlay .s-text a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: 700;

    background-color: #03a9f4;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px;
}



/* Project Current Pages */
.work2 {
    grid-area: work2;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    width: 50%;
}

/* New Court Bank Info Page */
.project_ncbank {
    padding: 20px;
    width: 1360px;
    margin: 40px auto;;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas:
    " title title title "
    " work2 work2 work2 "
    " desp  desp  skill ";
}
.project_ncbank .title {
    grid-area: title;
    text-align: left;
    font-family: Montserrat;
    text-transform: uppercase;
}

.content_ncbank {
    font-family: Montserrat;
    grid-area: desp;
}

.skills_ncbank {
    grid-area: skill;
    font-family: Montserrat;
    margin-left: 250px;
}

/* Future of Info Design Jam Page */
.project_foi {
    padding: 20px;
    width: 1360px;
    margin: 40px auto;;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas:
    " title title title "
    " work2 work2 work2 "
    " desp  desp  skill ";
}
.project_foi .title {
    grid-area: title;
    text-align: left;
    font-family: Montserrat;
    text-transform: uppercase;
}

.content_foi {
    font-family: Montserrat;
    grid-area: desp;
}

.skills_foi {
    grid-area: skill;
    font-family: Montserrat;
    margin-left: 250px;
}



/* Project Past Pages */

/* Music App Info Page */
.project_musicApp {
    padding: 20px;
    width: 1360px;
    margin: 40px auto;;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas:
    " title title title "
    " work1 work1 work1 "
    " desp  desp  skill ";
}
.project_musicApp .title {
    grid-area: title;
    text-align: left;
    font-family: Montserrat;
    text-transform: uppercase;
}

.musicApp_img {
    grid-area: work1;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 1360px;
    border-radius: 5px;
}

.content_musicApp {
    font-family: Montserrat;
    grid-area: desp;
}

.skills_musicApp {
    grid-area: skill;
    font-family: Montserrat;
    margin-left: 250px;
}

/* Lemon Magic Cake Project */
.project_lemonCake {
    padding: 20px;
    width: 1360px;
    margin: 40px auto;;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas:
    " title title title "
    " work1 work1 work1 "
    " desp  desp  skill ";
}
.project_lemonCake .title {
    grid-area: title;
    text-align: left;
    font-family: Montserrat;
    text-transform: uppercase;
}

.lemonCake_img {
    grid-area: work1;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 1360px;
    border-radius: 5px;
}

.content_lemonCake {
    font-family: Montserrat;
    grid-area: desp;
}

.skills_lemonCake {
    grid-area: skill;
    font-family: Montserrat;
    margin-left: 250px;
}


/* Project WIP Pages */


/* Contact Page */
.project_contact {
    padding: 20px;
    width: 1360px;
    margin: 40px auto;;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas:
    " title title title "
    " desp  desp  desp  ";
}
.project_contact .title {
    grid-area: title;
    text-align: center;
    font-family: Montserrat;
    text-transform: uppercase;
}

.content_contact {
    font-family: Montserrat;
    grid-area: desp;
    text-align: center;
}

/* Contact Form */
.contact-form {
    padding: 20px;
    width: 1360px;
    margin: 40px auto;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #03a9f4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

input[type=submit]:hover {
    background-color: #0180bb;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical
}

/* About Me Page */
.aboutMe {
    padding: 20px;
    width: 1360px;
    margin: 40px auto;
}

.aboutMe .title {
    grid-area: title;
    text-align: center;
    font-family: Montserrat;
    text-transform: uppercase;
}

.aboutMe .description {
    font-family: Montserrat;
}